In [50]:
#Create a model for Multiple Linear Regression
import pandas as pd

df = pd.read_csv('insurance_pre.csv')
df = pd.get_dummies(df, drop_first=True)
df

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400     False        True
1      18  33.770         1   1725.55230      True       False
2      28  33.000         3   4449.46200      True       False
3      33  22.705         0  21984.47061      True       False
4      32  28.880         0   3866.85520      True       False
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830      True       False
1334   18  31.920         0   2205.98080     False       False
1335   18  36.850         0   1629.83350     False       False
1336   21  25.800         0   2007.94500     False       False
1337   61  29.070         0  29141.36030     False        True

[1338 rows x 6 columns]

In [51]:
df.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [52]:
# Split Input and Output
x_values = df[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
y_values = df['charges']

In [53]:
# split the dataset into training and testing sets
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x_values, y_values, test_size=0.3, random_state=42)

In [54]:
# Create the Multiple Linear Regression model
from sklearn.linear_model import LinearRegression
mlr_model = LinearRegression(fit_intercept = True, copy_X = True)
# Fit the model on the training data
mlr_model.fit(x_train, y_train)

#get the coefficients and intercept
coefficients = mlr_model.coef_
intercept = mlr_model.intercept_
print("Coefficients:", coefficients)
print("Intercept:", intercept)

# Predict the output for the test set
y_pred = mlr_model.predict(x_test)
# Evaluate the model
from sklearn.metrics import mean_squared_error, r2_score
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print("Mean Squared Error:", mse)
print("R-squared:", r2)

Coefficients: [  261.91061673   333.36099462   432.1792927    136.65119758
 23618.76182167]
Intercept: -12538.439849853145
Mean Squared Error: 34003912.39316076
R-squared: 0.7680881643600721

In [55]:
#save the model using pickle
import pickle as pkl
with open('mlr_model.sav', 'wb') as file:
    pkl.dump(mlr_model, file)

# Load the model
with open('mlr_model.sav', 'rb') as file:
    loaded_model = pkl.load(file)
# Predict using the loaded model
loaded_y_pred = loaded_model.predict([[45,23.27,2,1,0]])
print("Prediction using loaded model:", loaded_y_pred)

Prediction using loaded model: [8005.85803069]

c:\Users\a-kjayar01\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(